{% extends 'baseaut.html' %}
{% load static %}
{% block estilos %}
<link rel="stylesheet" href="{% static 'css/puertas.css' %}">
{% endblock %}
{% block titulo %}puertas{% endblock %}
{% block contenido %}

<div class="diseño">

    <h2>Control de Acceso</h2>

    <div class="encabezado-tabla">
        <span>Puerta</span>
        <span>Activo</span>
    </div>
    {% for puerta in puertas %}

    <div class="fila-usuario">
        <span class="dato">{{ puerta.puerta }}</span>
        <label class="switch">
            <input type="checkbox" checked>
            <span class="slider"></span>
        </label>
    </div>
    {% endfor %}

    

    <div class="botones-acciones-acceso">
        <a href="#" class="botones btn-editar">Apertura</a>
        <a href="#" class="botones btn-detener">Detener</a>
        <a href="#" class="botones btn-cierre">Cerrar</a>

    </div>

</div>
{% endblock %}
