{% extends 'baseaut.html' %}
{% load static %}

{% block estilos %}
<link rel="stylesheet" href="{% static 'css/paquetes.css' %}">
{% endblock %}

{% block titulo %}Registro entrada de paquetes{% endblock %}

{% block contenido %}

<div class="registro">

    <a href="{% url 'recepcion' %}" class="btn-volver-flecha">↩</a>

    <div class="menu-opciones">
        <a href="#" class="btn-tres-puntos">⋮</a>
        <div class="opciones">
            <a href="#">Exportar a PDF</a>
            <a href="#">Imprimir</a>
        </div>
    </div>

    <h2>Registro entrada de paquetes</h2>

    <div class="encabezado-registro">
        <span>Nombre Completo</span>
        <span>Documento</span>
        <span>Recibe</span>
        <span>Torre / Apto</span>
        <span>Paquete</span>
        <span>Agencia de envío</span>
        <span>Fecha</span>
        <span>Hora ingreso</span>
        <span>Hora entrega</span>
        <span>Observaciones</span>
        <span>Acciones</span>
    </div>

    {% for paquete in paquetes %}
    <div class="fila-registro">       
        <span>{{ paquete.destinatario }}</span>
        <span>{{ paquete.documento }}</span>
        <span>{{ paquete.nombre_recibe }}</span>
        <span>{{ paquete.torre }}</span>
        <span>{{ paquete.paquete }}</span>
        <span>{{ paquete.agencia }}</span>
        <span>{{ paquete.fecha }}</span>
        <span>{{ paquete.hora_ingreso|default:"..." }}</span>
        <span>{{ paquete.hora_entrega|default:"..." }}</span>
        <span>{{ paquete.observaciones|default:"..." }}</span>
        <a href="{% url 'editarpa' paquete.id %}" class="btn-editar">Editar</a>
    </div>

    {% empty %}
    <p>No hay registros guardados.</p>
    {% endfor %}

    <div class="paginacion">

        {% if paquetes.has_previous %}
            <a class="pagina anterior"
               href="?page={{ paquetes.previous_page_number }}">
               ‹ Página anterior
            </a>
        {% endif %}

        {% for num in paquetes.paginator.page_range %}
            {% if paquetes.number == num %}
                <a class="pagina numero active">{{ num }}</a>
            {% else %}
                <a class="pagina numero"
                   href="?page={{ num }}">{{ num }}</a>
            {% endif %}
        {% endfor %}

        {% if paquetes.has_next %}
            <a class="pagina siguiente"
               href="?page={{ paquetes.next_page_number }}">
               Siguiente página ›
            </a>
        {% endif %}

    </div>

</div>

{% endblock %}
