{% extends 'base.html' %}
{% load static %}
{% block estilos %}
  <link rel="stylesheet" href="{% static 'css/cotizar.css' %}">   
{% endblock %}  
{% block titulo %}cotizar{% endblock %}
{% block contenido  %}
   <main class="fondo">
    <section class="contenedor-formulario">

        <h2><em>INGRESE LOS SIGUIENTES DATOS</em></h2>

        <div class="campo">
            <label>Nombre completo:</label>
            <input type="text" placeholder="Tu nombre completo">
        </div>

        <div class="campo">
            <label>Número de documento:</label>
            <input type="text" placeholder="Escriba su número de documento">
        </div>

        <div class="campo">
            <label>Número de teléfono:</label>
            <input type="text" placeholder="Número de teléfono">
        </div>

        <div class="campo">
            <label>Correo electrónico:</label>
            <input type="email" placeholder="Email">
        </div>

        <div class="campo">
            <label>Ciudad/Departamento:</label>
            <input type="text" placeholder="Ciudad/Departamento">
        </div>

        <div class="campo">
            <label>Consulta:</label>
            <input type="text" placeholder="Descripción">
        </div>

        <button type="submit" class="btn-registrar">Enviar</button>

    </section>
</main>
{% endblock %}