{% extends 'baseaut.html' %}
{% load static %}

{% block estilos %}
<link rel="stylesheet" href="{% static 'css/editarpa.css' %}">
{% endblock %}

{% block titulo %}Editar paquete{% endblock %}

{% block contenido %}
<div class="contenedor-editar">
    <h2>Editar Paquete</h2>

    <form method="POST" class="form-editar">
        {% csrf_token %}

        <div class="fila">
            <div class="campo">
                <label>Nombre completo</label>
                {{ form.destinatario }}
            </div>

            <div class="campo">
                <label>Número de documento</label>
                {{ form.documento }}
            </div>
        </div>

        <div class="fila">
            <div class="campo">
                <label>Nombre del que recibe</label>
                {{ form.nombre_recibe }}
            </div>

            <div class="campo">
                <label>Torre y apto</label>
                {{ form.torre }}
            </div>
        </div>

        <div class="fila">
            <div class="campo">
                <label>Paquete</label>
                {{ form.paquete }}
            </div>

            <div class="campo">
                <label>Agencia de envío</label>
                {{ form.agencia }}
            </div>
        </div>

        <div class="fila">
            <div class="campo">
                <label>Fecha</label>
                {{ form.fecha }}
            </div>

            <div class="campo">
                <label>Hora ingreso</label>
                {{ form.hora_ingreso }}
            </div>
        </div>

        <div class="fila">
            <div class="campo">
                <label>Hora entrega</label>
                {{ form.hora_entrega }}
            </div>

            <div class="campo">
                <label>Observaciones</label>
                {{ form.observaciones }}
            </div>
        </div>

        <div class="botones-acciones">
            <button type="submit" class="botones btn-guardar">
                Guardar cambios
            </button>
            <a href="{% url 'paquetes' %}" class="botones btn-volver">
                Volver
            </a>
        </div>

    </form>
</div>
{% endblock %}
