{% extends 'baseaut.html' %}
{% load static %}
{% block estilos %}
<link rel="stylesheet" href="{% static 'css/usuarios.css' %}">
{% endblock %}
{% block titulo %}ediatar tarjeta {% endblock %}
{% block contenido %}

<div class="registro">

    <a href="{% url 'registroa' %}" class="btn-volver-flecha">↩</a>

    <h2>Registro de Usuarios</h2>

    <div class="buscador">
        <input type="text" placeholder="Buscar por número de documento o nombre">
        <button class="btn-buscar">🔍</button>
    </div>

    <div class="encabezado-registro">
        <span>Nombre Completo</span>
        <span>N° Documento</span>
        <span>Torre / Apto</span>
        <span>N° Tarjeta</span>
        <span>Accesos</span>
        <span>Acción</span>
    </div>

    <div class="fila-registro">
        <span>Noralba Rosio Diaz Palacios</span>
        <span>1090123456</span>
        <span>4-103</span>
        <span>1GG23345</span>
        <span>Puerta principal, Torre 4</span>
        <div class="acciones">
            <a href="{% url 'editart' %}" class="btn-editar">Editar</a>
        </div>
    </div>

    <div class="fila-registro">
        <span>German Gomez Nabarro</span>
        <span>1020458796</span>
        <span>4-104</span>
        <span>2HJ88421</span>
        <span>Puerta principal, torre 4</span>
        <div class="acciones">
            <a href="{% url 'editart' %}" class="btn-editar">Editar</a>
        </div>
    </div>

    <div class="fila-registro">
        <span>Laura Gómez Silva</span>
        <span>1002987654</span>
        <span>1-103</span>
        <span>9KL33210</span>
        <span>Puerta principal, torre 1</span>
        <div class="acciones">
            <a href="{% url 'editart' %}" class="btn-editar">Editar</a>
        </div>
    </div>

    <div class="fila-registro">
        <span>Camilo Ríos Martínez</span>
        <span>1012258963</span>
        <span>2-103</span>
        <span>7MM90122</span>
        <span>Puerta al parqueadero, puerta principal, torre 2</span>
        <div class="acciones">
            <a href="{% url 'editart' %}" class="btn-editar">Editar</a>
        </div>
    </div>

    <div class="fila-registro">
        <span>Sara Beltrán Mora</span>
        <span>1190456231</span>
        <span>2-101</span>
        <span>3AA55890</span>
        <span>Puerta principal, Torre 3</span>
        <div class="acciones">
            <a href="{% url 'editart' %}" class="btn-editar">Editar</a>
        </div>
    </div>

    <div class="fila-registro">
        <span>Julián Méndez Torres</span>
        <span>980156324</span>
        <span>1-102</span>
        <span>6BB77001</span>
        <span>Puerta principal, torre 1</span>
        <div class="acciones">
            <a href="{% url 'editart' %}" class="btn-editar">Editar</a>
        </div>
    </div>

    <div class="paginacion">
        <a class="pagina anterior" href="#">‹ Página anterior</a>
        <a class="pagina numero active" href="#">1</a>
        <a class="pagina numero" href="#">2</a>
        <a class="pagina numero" href="#">3</a>
        <span class="puntos">...</span>
        <a class="pagina numero" href="#">20</a>
        <a class="pagina siguiente" href="#">Siguiente página ›</a>
    </div>

</div>
     
{% endblock %}
