{% extends 'base.html' %}
{% load static %}

{% block estilos %}
<link rel="stylesheet" href="{% static 'css/acceso.css' %}">
{% endblock %}

{% block titulo %}Acceso{% endblock %}

{% block contenido %}
<main class="fondo">
    <section class="contenedor-login">
        <h2>¡Bienvenido!</h2>

        {% if error %}
            <p style="color: red; text-align:center;">{{ error }}</p>
        {% endif %}

        <form method="post">
            {% csrf_token %}

            <div class="campo">
                <label for="usuario">Usuario</label>
                <input type="text" name="usuario" id="usuario" placeholder="Ingrese su usuario" required>
            </div>

            <div class="campo">
                <label for="contrasena">Contraseña</label>
                <input type="password" name="contrasena" id="contrasena" placeholder="Ingrese su contraseña" required>
            </div>
            

            <button type="submit" class="btn-aceptar">Aceptar</button>

            <a href="{% url 'recuperar' %}" class="link-olvide">¿Olvidó su contraseña?</a>
        </form>
    </section>
</main>
{% endblock %}

