{% extends 'baseaut.html' %}
{% load static %}

{% block estilos %}
<link rel="stylesheet" href="{% static 'css/verusuario.css' %}">
{% endblock %}

{% block titulo %}ver usuario{% endblock %}

{% block contenido %}
<div class="registro">

    <a href="{% url 'cliente' %}" class="btn-volver-flecha">↩</a>
    {% if request.user.groups.all.0.name == "Administrador" or request.user.groups.all.0.name == "Supervisor" %}

    <div class="menu-opciones">
        <a href="#" class="btn-tres-puntos">⋮</a>

        <div class="opciones">

            <a href="{% url 'pdfusuarios' %}">Exportar a PDF</a>

  

            <form action="{% url 'pdfusuarios' %}" method="GET">
                <input type="email" name="email" placeholder="Correo electrónico" required>
                <button type="submit">Enviar PDF</button>
            </form>

        </div>
    </div>
    {% endif %}

    <h2>Listado de Usuarios</h2>

    <div class="buscador">
        <form method="GET">
            <input type="text" name="q" value="{{ query }}"
                   placeholder="Buscar por número de documento o nombre">
            <button type="submit" class="btn-buscar">🔍 Buscar</button>
            <a href="{% url 'verusuario' %}" class="btn-buscar"> ⟲ Limpiar </a>
            
        </form>
    </div>

    <div class="encabezado-registro">
        <span class="campo">Tipo de usuario</span>
        <span class="campo">Nombre Completo</span>
        <span class="campo">Tipo de documento</span>
        <span class="campo">Documento</span>
        <span class="campo">Número de telefono</span>
        <span class="campo">Email</span>
        <span class="campo">Torre y Apto</span>
        <span class="campo">N° Tarjeta</span>
        <span class="campo">Numero de parqueadero</span>
        <span class="campo">Vehiculo</span>
        <span class="campo">Fecha</span>
        <span class="campo">Hora de registro</span>
    </div>

    {% for r in registros %}
    <div class="fila-registro-accesos">
        <span class="campo">{{ r.tipo_usuario }}</span>
        <span class="campo">{{ r.nombre }}</span>
        <span class="campo">{{ r.tipo_documento }}</span>
        <span class="campo">{{ r.documento }}</span>
        <span class="campo">{{ r.telefono }}</span>
        <span class="campo">{{ r.email }}</span>
        <span class="campo">{{ r.torre }}</span>
        <span class="campo">{{ r.tarjeta }}</span>
        <span class="campo">{{ r.parqueadero|default:"..." }}</span>
        <span class="campo">{{ r.placa|default:"..." }}</span>
        <span class="campo">{{ r.fecha }}</span>
        <span class="campo">{{ r.hora_ingreso }}</span>
    </div>
    {% empty %}
    <div class="fila-registro-accesos">
        <span>No hay registros</span>
    </div>
    {% endfor %}

<div class="paginacion">

    {% if registros.has_previous %}
        <a
            class="pagina anterior"
            href="?page={{ registros.previous_page_number }}&persona={{ persona }}&torre={{ torre }}&fecha={{ fecha }}&puerta={{ puerta }}"
        >
            ‹ Anterior
        </a>
    {% endif %}

    {% for num in paginas %}

        {% if registros.number == num %}

            <span class="pagina numero active">
                {{ num }}
            </span>

        {% else %}

            <a
                class="pagina numero"
                href="?page={{ num }}&persona={{ persona }}&torre={{ torre }}&fecha={{ fecha }}&puerta={{ puerta }}"
            >
                {{ num }}
            </a>

        {% endif %}

    {% endfor %}

    {% if registros.has_next %}
        <a
            class="pagina siguiente"
            href="?page={{ registros.next_page_number }}&persona={{ persona }}&torre={{ torre }}&fecha={{ fecha }}&puerta={{ puerta }}"
        >
            Siguiente ›
        </a>
    {% endif %}

</div>

</div>
{% endblock %}