{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    {% block estilos %}
    
    {% endblock %}
    
  
    <title>{% block titulo %}{% endblock %}</title>
</head>
<body>
   <header class="header">
    <div class="logo">
        <img src="{% static 'image/logo.png' %}" alt="Logo Diamond Security">
        
        <span>DIAMOND SECURITY</span>
    </div>

    <nav class="nav-aux">
        <a href="{% url 'principal' %}" class="menu-icon">☰</a> 
        <a href="{% url 'acceso' %}" class="btn-general btn-login">INICIAR SESIÓN</a>
    </nav>
</header>

    {% block contenido %}

    {% endblock %}


    <footer>
        <div class="piedepagina">

        </div>
    </footer>
</body>
</html>





