.contenido {
    padding-top: 50px;
}

aside {
    width: 200px;
    position: fixed;
    top: 330px; 
    left: 0;
    padding: 20px 10px;
    height: auto;
}

aside nav {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.item-navegacion {
    display: block;
    background: #c5d3e0; 
    padding: 10px 12px;
    border-radius: 8px;
    text-decoration: none;
    font-size: 14px;
    color: #000;
    transition: 0.2s;
}

.item-navegacion:hover {
    background: #c5d3e0;
}

.item-navegacion.exit {
    background: #ffdddd;
}

.item-navegacion.exit:hover {
    background: #ffbcbc;
}

main.contenido {
    margin-left: 220px;
    padding-right: 20px;
}

.info-encabezado {
    display: flex;
    gap: 25px;
    position: absolute;
    top: 200px;          
    left: 50%;
    transform: translateX(-50%);
}

.tarjeta-fecha, 
.tarjeta-horario {
    flex: 1; 
    background: rgba(255, 255, 255, 0.80);
    padding: 15px 20px;
    border-radius: 10px;
    font-weight: 600;
    text-align: center;
    min-width: 180px; 
    color: #001c33;
}

.tarjeta-fecha .date {
    background: #c5d3e0; 
    padding: 8px 10px;
    border-radius: 6px;
    margin-top: 8px;
    font-size: 15px;
}

.distribucion-panel {
    display: flex;
    gap: 25px;
    justify-content: center;
    margin-top: 110px;
}

.panel-gestion-usuarios {
    width: 1000px; 
    background: rgba(255, 255, 255, 0.85);
    padding: 18px;
    border-radius: 10px;
}

.panel-gestion-usuarios > a {
    display: block;
    text-align: center;
    margin-bottom: 15px;
    font-weight: bold;
}

.panel-gestion-usuarios table {
    width: 100%;
    border-collapse: collapse;
}

.panel-gestion-usuarios th {
    background: #c5d3e0;
    padding: 10px;
    text-align: left;
}

.panel-gestion-usuarios td {
    background: #c5d3e0;
    padding: 10px;
    border-bottom: 1px solid#c5d3e0;
}

.panel-acciones-rapidas {
    width: 250px;
    background: rgba(255, 255, 255, 0.85);
    padding: 18px;
    border-radius: 10px;
    text-align: center;
}

.panel-acciones-rapidas h4 {
    margin-bottom: 18px;
}

.panel-acciones-rapidas .boton-accion {
    display: block;
    width: 100%;
    background: #c5d3e0;
    color: #001c33;
    font-weight: 600;
    text-align: center;
    padding: 10px 14px;
    margin-bottom: 10px;
    border-radius: 6px;
    text-decoration: none;
    cursor: pointer;
    transition: background 0.2s;
}

.panel-acciones-rapidas .boton-accion:hover {
    background: #c5d3e0;
}

.switch {
    position: relative;
    display: inline-block;
    width: 38px;
    height: 20px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    border-radius: 20px;
    background-color:  #a8a6a6;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    transition: .4s;
}

input:checked + .slider {
    background-color:  #4c90a8;
}

.slider.round {
    border-radius: 20px;
}

.slider:before {
    content: "";
    position: absolute;
    height: 14px;
    width: 14px;
    left: 3px;
    bottom: 3px;
    background: white;
    border-radius: 50%;
    transition: .4s;
}

input:checked + .slider:before {
    transform: translateX(18px);
}

.tarjeta-horario {
    width: 250px;
    margin: 0 auto 15px auto;
}

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    overflow: hidden; 
    display: flex;
    flex-direction: column;
}


.contenido-principal {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
html, body {
    height: 100%;
    overflow: hidden;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
}
html, body {
    height: 100%;
    overflow: hidden;
}





