.contenedor-lista {
    width: 800px;
    margin: 40px auto;
    background:  #e0e7ef;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    font-family: Arial, sans-serif;
}

.contenedor-lista h2 {
    text-align: center;
    margin-bottom: 25px;
    color: #333;
}


.encabezados {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    font-weight: bold;
    padding: 10px 0;
    border-bottom: 2px solid #333;
    text-align: center;
}


.fila-usuario {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    align-items: center;
    padding: 12px 0;
    border-bottom: 1px solid #999;
}

.fila-usuario .dato {
    text-align: center;
}


.fila-usuario input[type="time"],
.fila-usuario select {
    width: 120px;
    margin: 0 auto;
    padding: 6px;
    border-radius: 6px;
    border: 1px solid #666;
    font-size: 14px;
}

.acciones {
    display: flex;
    justify-content: center;
    gap: 20px;
}


.btn-editar,
.btn-eliminar {
    background: white;
    border: 2px solid #333;
    color: #333;
    width: 180px;          
    height: 50px;         
    border-radius: 10px;
    font-weight: bold;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    display: flex;         
    justify-content: center;
    align-items: center;
    transition: 0.2s ease-in-out;
}

.btn-editar:hover,
.btn-eliminar:hover {
    background: #ddd;
}


