main {
    padding-top: 120px;
}

.titulo-seccion {
    font-size: 22px;
    text-align: center;
    margin-bottom: 25px;
    font-weight: 700;
    color: #333;
}

.filtro-fecha {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
}

.filtro-fecha input {
    padding: 12px 15px;
    border-radius: 8px;
    border: 1px solid #c5d3e0;
    background: #c5d3e0;
    font-size: 15px;
    outline: none;
    color: #333;
}

.tabla-informes table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0 10px;
    font-size: 15px;
    background: transparent;
}


.tabla-informes thead th {
    background: #c5d3e0;
    padding: 12px;
    font-weight: bold;
    text-align: left;
    border-radius: 10px 10px 0 0;
    color: #333;
}

.tabla-informes tbody tr {
    background: #e0e7ef;
    border-radius: 10px;
}

.tabla-informes tbody td {
    padding: 12px;
    border-bottom: 1px solid #c5d3e0;
    color: #333;
}

.tabla-informes tbody tr:last-child td {
    border-bottom: none;
}

.btn-descargar {
    background: transparent;
    border: 2px solid #333;
    padding: 8px 14px;
    font-size: 14px;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s ease;
    color: #333;
    font-weight: bold;
}

.btn-descargar:hover {
    background: #333;
    color: white;
}
.contenedor-informes {
    width: 1000px;
    background: rgba(255, 255, 255, 0.85);
    padding: 40px;
    border-radius: 15px;
    margin: 40px auto;
    box-shadow: 0 0 20px rgba(0,0,0,0.15);
    font-family: Arial, sans-serif;
    color: #333;
}


