{% extends 'baseaut.html' %}
{% load static %}

{% block estilos %}
<link rel="stylesheet" href="{% static 'css/visitantes.css' %}">
{% endblock %}

{% block titulo %}Visitantes{% endblock %}

{% block contenido %}

<div class="registro">
    <a href="{% url 'cliente' %}" class="btn-volver-flecha">↩</a>

    <h2>Registro de Visitantes</h2>

    <div class="buscador">
        <form method="GET">
            <input type="text" name="q" value="{{ query }}"
                   placeholder="Buscar por número de documento o nombre">
            <button type="submit" class="btn-buscar">🔍 Buscar</button>
            <a href="{% url 'verusuario' %}" class="btn-buscar"> ⟲ Limpiar </a>
        </form>
    </div>

    <div class="encabezado-registro">
        <span>Tipo usuario</span>
        <span>Nombre</span>
        <span>Tipo documento</span>
        <span>Documento</span>
        <span>Teléfono</span>
        <span>Email</span>
        <span>Torre</span>
        <span>Tarjeta</span>
        <span>Parqueadero</span>
        <span>Placa</span>
        <span>Fecha</span>
        <span>Observaciones</span>
        <span>Acciones</span>
    </div>

    {% for usuario in registros %}
    <div class="fila-registro">
        <span>{{ usuario.tipo_usuario }}</span>
        <span>{{ usuario.nombre }}</span>
        <span>{{ usuario.tipo_documento }}</span>
        <span>{{ usuario.documento }}</span>
        <span>{{ usuario.telefono }}</span>
        <span>{{ usuario.email|default:"..." }}</span>
        <span>{{ usuario.torre }}</span>
        <span>{{ usuario.tarjeta.numero|default:"..." }}</span>
        <span>{{ usuario.parqueadero|default:"..." }}</span>
        <span>{{ usuario.placa|default:"..." }}</span>
        <span>{{ usuario.fecha }}</span>
        <span>{{ usuario.observaciones|default:"..." }}</span>
        {% if request.user.groups.all.0.name != "Seguridad" %}
        <div class="acciones">
            <a href="{% url 'editarvisi' usuario.id %}" class="btn-editar">
                Editar
            </a>
        </div>
        {% endif %}
    </div>
    {% empty %}
    <p>No hay visitantes registrados.</p>
    {% endfor %}

<div class="paginacion">

    {% if registros.has_previous %}
        <a
            class="pagina anterior"
            href="?page={{ registros.previous_page_number }}&q={{ query }}"
        >
            ‹ Página anterior
        </a>
    {% endif %}

    {% for num in paginas %}

        {% if registros.number == num %}

            <span class="pagina numero active">
                {{ num }}
            </span>

        {% else %}

            <a
                class="pagina numero"
                href="?page={{ num }}&q={{ query }}"
            >
                {{ num }}
            </a>

        {% endif %}

    {% endfor %}

    {% if registros.has_next %}
        <a
            class="pagina siguiente"
            href="?page={{ registros.next_page_number }}&q={{ query }}"
        >
            Siguiente página ›
        </a>
    {% endif %}

</div>

</div>

{% endblock %}
