{% extends 'baseaut.html' %}
{% load static %}
{% block estilos %}
<link rel="stylesheet" href="{% static 'css/vehiculos.css' %}">
{% endblock %}
{% block titulo %}acceso vehiculos{% endblock %}
{% block contenido %}

<div class="registro">
    <a href="{% url 'gestion' %}" class="btn-volver-flecha">↩</a>

    <div class="menu-opciones">
        <a href="#" class="btn-tres-puntos">⋮</a>
        <div class="opciones">
            <a href="#">Exportar a PDF</a>
            <a href="#">Imprimir</a>
        </div>
    </div>

    <h2>Registro de entrada y salida de vehiculos</h2>

    <div class="buscador">
        <input type="text" placeholder="Buscar por número de documento o nombre">
        <button class="btn-buscar">🔍</button>
    </div>

    <div class="encabezado-registro">
        <span>Nombre Completo</span>
        <span>Documento</span>
        <span>Torre y apto</span>
        <span>Tarjeta</span>
        <span>Vehículo</span>
        <span>Placa</span>
        <span>Fecha</span>
        <span>Hora Entrada</span>
        <span>Apertura</span>
        <span>Hora Salida</span>
        <span>Cierre</span>
    </div>
    {%for v in registros%}
    
    <div class="fila-registro">
        <span>{{ v.persona.nombre }}</span>
        <span>{{ v.persona.documento }}</span>
        <span>{{ v.persona.torre }}</span>
        <span>{{ v.persona.tarjeta }}</span>
        <span>{{ v.persona.parqueadero }}</span>
        <span>{{ v.persona.placa }}</span>
        <span>{{ v.fecha }}</span>
        <span>{{ v.hora_entrada }}</span>
        <span>✔</span>
        <span>{% if v.hora_salida %}{{ v.hora_salida }}{% else %}—{% endif %}</span>
        <span>{% if v.hora_salida %}✔{% else %}✖{% endif %}</span>
    </div>
    {% endfor %}

    <div class="paginacion">
        {% if registros.has_previous %}
            <a class="pagina anterior" href="?page={{ registros.previous_page_number }}">‹ Página anterior</a>
        {% endif %}

        {% for num in registros.paginator.page_range %}
            {% if registros.number == num %}
                <a class="pagina numero active">{{ num }}</a>
            {% else %}
                <a class="pagina numero" href="?page={{ num }}">{{ num }}</a>
            {% endif %}
        {% endfor %}

        {% if registros.has_next %}
            <a class="pagina siguiente" href="?page={{ registros.next_page_number }}">Siguiente página ›</a>
        {% endif %}
    </div>
</div>
    
    
{% endblock %}
