{% extends 'baseaut.html' %}
{% load static %}

{% block estilos %}
<link rel="stylesheet" href="{% static 'css/editaracc.css' %}">
{% endblock %}

{% block titulo %}control{% endblock %}

{% block contenido %}

<form method="POST">
{% csrf_token %}

<div class="contenedor">

<h2>Editar Accesos</h2>

<div class="encabezado-tabla">
    <span>Puerta</span>
    <span>Dirección IP</span>
    <span>Activo</span>
</div>

{% for ip in datos %}
<div class="fila-usuario">

    <input type="hidden" name="id" value="{{ ip.id }}">

    <input type="text" name="puerta_{{ ip.id }}" value="{{ ip.puerta.nombre }}" class="dato">

    <input type="text" name="ip_{{ ip.id }}" value="{{ ip.ip }}" class="ip">

    <label class="switch">
        <input type="checkbox" name="estado_{{ ip.id }}" {% if ip.estado == "activo" %}checked{% endif %}>
        <span class="slider"></span>
    </label>

</div>
{% endfor %}

<div class="botones-acciones-acceso">
    <a href="{% url 'control' %}" class="cta-button btn-volver">Volver</a>
    <button type="submit" class="cta-button btn-guardar">Guardar Cambios</button>
</div>

</div>

</form>

{% endblock %}