{% extends 'baseaut.html' %}
{% load static %}
{% block estilos %}
  <link rel="stylesheet" href="{% static 'css/emergencia.css' %}">   
{% endblock %}   
{% block titulo %}botones emergencia {% endblock %}
{% block contenido  %}

<div class="contenedor-menu">
    <div class="panel-acceso">
        <a href="{% url 'gestion' %}" class="btn-volver-flecha">↩</a>

        <h2>Registro peatonal</h2>

        <div class="seleccion-puerta">
            <a href="{% url 'peatones' %}" class="btn-puerta">Puerta Principal</a>
            <a href="{% url 'discapacitados' %}" class="btn-puerta">Puerta Personas Discapacitadas</a>
        </div>
    </div>
</div>

{% endblock contenido%}