.contenedor-acceso {
    width: 600px;
    background: rgba(255, 255, 255, 0.85);
    padding: 20px;
    border-radius: 12px;
    margin: 20px auto;
    box-shadow: 0 0 15px rgba(0,0,0,0.15);
    font-family: Arial, sans-serif;
    color: #333;
}

.contenedor-acceso h2 {
    font-style: italic;
    margin-bottom: 18px;
    font-size: 1.5em;
    text-align: center;
    color: #333;
}

.encabezado-tabla {
    display: grid;
    grid-template-columns: 1fr 1fr 80px;
    font-weight: bold;
    padding-bottom: 6px;
    border-bottom: 2px solid #333;
    margin-bottom: 8px;
    font-size: 0.9em;
}

.fila-acceso {
    display: grid;
    grid-template-columns: 1fr 1fr 80px;
    align-items: center;
    padding: 8px 0;
    border-bottom: 1px solid #bbb;
    font-size: 0.9em;
}

.dato-puerta {
    font-weight: 500;
}

.direccion-ip {
    color: #222;
    font-size: 0.88em;
}

.interruptor {
    position: relative;
    width: 45px;
    height: 22px;
    display: inline-block;
}

.interruptor input {
    display: none;
}

.deslizador {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #c5d3e0;
    transition: 0.4s;
    border-radius: 22px;
    border: 2px solid #000;
}

.deslizador:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 3px;
    bottom: 2px;
    background-color: white;
    transition: 0.3s;
    border-radius: 50%;
    border: 1px solid black;
}

input:checked + .deslizador {
    background-color: #78e6bd;
}

input:checked + .deslizador:before {
    transform: translateX(22px);
}

.acciones-acceso {
    margin-top: 18px;
    display: flex;
    justify-content: center;
    gap: 8px;
}

.boton-accion {
    flex: 0 0 auto;
    text-align: center;
    width: 100px;
    padding: 8px;
    font-size: 0.85em;
    font-weight: bold;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s;
    text-decoration: none;
    border: 2px solid black;
    background: white;
    color: black;
}

.boton-accion:hover {
    background: black;
    color: white;
}

.btn-volver-flecha {
    text-decoration: none;
    text-align: center;
    line-height: 32px;
    background-color: #c5d3e0;
    border: 2px solid #c5d3e0;
    color: #0c0c0c;
    font-weight: bold;
    border-radius: 10px;
    transition: all 0.3s ease;
    cursor: pointer;
    display: inline-block;
    width: 40px;
    height: 36px;
    font-size: 1.2em;
    padding: 0;
    margin-bottom: 10px;
}

.btn-volver-flecha:hover {
    background-color: #7fb1fb;
    border-color: #88b7fd;
    color: white;
    transform: scale(1.05);
}

.btn-volver-flecha:active {
    background-color: #79a9f1;
    border-color: #7aacf8;
    color: white;
    transform: scale(0.95);
}


html, body {
    height: 100%;
    overflow: hidden;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
}
