.titulo-tabla {
    text-align: center;
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #333;
}

.contenido h2 {
    width: 100%;
    text-align: center;
    display: block;
    color: #333;
}


table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0 10px;
    background: transparent;
    font-size: 15px;
}

table thead th {
    background: #c5d3e0;
    padding: 12px;
    font-weight: bold;
    text-align: left;
    color: #333;
    border-radius: 10px 10px 0 0;
}

table tbody tr {
    background: #e0e7ef; 
    border-radius: 8px;
}

table td {
    padding: 12px;
    border-bottom: 1px solid #c5d3e0;
    color: #333;
}

table tbody tr:last-child td {
    border-bottom: none;
}


.estado-activo {
    color: #0a7a16;
    font-weight: bold;
}

.estado-libre {
    color: #9e0000;
    font-weight: bold;
}


.contenido {
    width: 800px;
    background: rgba(255, 255, 255, 0.85);
    padding: 40px;
    border-radius: 15px;
    margin: 40px auto;
    box-shadow: 0 0 20px rgba(0,0,0,0.15);
    font-family: Arial, sans-serif;
    color: #333;
}

.acciones {
    display: flex;
    justify-content: center;
    gap: 8px;
}
.btn-editar{
    min-width: 150px;
    text-align: center;
    padding: 10px 0;
    border-radius: 10px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s ease;
    text-decoration: none;
}

.btn-editar {
    background-color: #fff;
    border: 2px solid #333;
    color: #333;
}

.btn-editar:hover {
    background: #333;
    color: white;
    transform: scale(1.05);
}