/* =========================
   CONTENEDOR PRINCIPAL
========================= */

.contenedor-monitoreo{
    width: 95%;
    margin: 20px auto;
    background: #c5d3e0;
    border-radius: 16px;
    padding: 20px;
    border: 1px solid #d6d6d6;
    box-shadow: 0 4px 18px rgba(0,0,0,0.08);
}

/* =========================
   TITULO
========================= */

.contenedor-monitoreo h1{
    color: #172554;
    font-size: 28px;
    font-weight: 700;
    margin-bottom: 25px;
}

/* =========================
   TARJETAS DE ALERTA
========================= */

.card-alerta{
    background: #f8f8f8;
    border-radius: 14px;
    padding: 18px;
    margin-bottom: 14px;
    border: 1px solid #dcdcdc;
    box-shadow: 0 2px 8px rgba(0,0,0,0.05);
    transition: all .3s ease;
}

.card-alerta:hover{
    transform: translateY(-2px);
    box-shadow: 0 8px 20px rgba(0,0,0,0.08);
}

/* =========================
   INFO
========================= */

.card-alerta.INFO{
    border-left: 6px solid #2563eb;
}

/* =========================
   WARNING
========================= */

.card-alerta.WARNING{
    border-left: 6px solid #f59e0b;
}

/* =========================
   ERROR
========================= */

.card-alerta.ERROR{
    border-left: 6px solid #dc2626;
}

/* =========================
   TIPO ALERTA
========================= */

.tipo{
    display: inline-block;
    font-size: 13px;
    font-weight: 700;
    letter-spacing: 1px;
    margin-bottom: 10px;
}

.INFO .tipo{
    color: #2563eb;
}

.WARNING .tipo{
    color: #d97706;
}

.ERROR .tipo{
    color: #dc2626;
}

/* =========================
   MENSAJE
========================= */

.card-alerta p{
    color: #334155;
    font-size: 15px;
    font-weight: 500;
    margin: 10px 0;
}

/* =========================
   FECHA
========================= */

.card-alerta small{
    color: #64748b;
    font-size: 12px;
}

/* =========================
   PAGINACION
========================= */

.paginacion{
    margin-top: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
}

.paginacion a{
    padding: 10px 16px;
    border-radius: 10px;
    background: white;
    border: 1px solid #cfcfcf;
    text-decoration: none;
    color: #172554;
    font-weight: 600;
    transition: .3s;
}

.paginacion a:hover{
    background: #172554;
    color: white;
}

.paginacion span{
    color: #334155;
    font-weight: 600;
}