.diseño {
    width: 600px;
    background: rgba(255, 255, 255, 0.85);
    padding: 18px;
    border-radius: 12px;
    margin: 0px auto;
    box-shadow: 0 0 15px rgba(0,0,0,0.1);
    font-family: Arial, sans-serif;
    color: #333;
}

.diseño h2 {
    font-style: italic;
    margin-bottom: 20px;
    color: #333;
    font-size: 1.6em;
    text-align: center;
}

.formulario {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    margin-bottom: 20px;
}

.campo {
    display: flex;
    flex-direction: column;
    flex: 0 0 48%;
}

.campo label {
    font-weight: bold;
    margin-bottom: 4px;
    color: #333333;
    font-size: 0.9em;
}

.campo input {
    height: 34px;
    padding: 0 10px;
    border-radius: 6px;
    border: 1px solid #c5d3e0;
    background-color: #c5d3e0;
    font-size: 0.85em;
    outline: none;
    width: 100%;
    color: #333;
    box-sizing: border-box;
}


.encabezado-tabla {
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    margin: 20px 0 10px 0;
    padding: 5px 0;
    border-bottom: 2px solid #333;
}

.fila-usuario {
    display: flex;
    justify-content: space-between;
    padding: 8px 0;
    border-bottom: 1px solid #cfcfcf;
    align-items: center;
}

.dato {
    font-size: 0.95em;
    color: #333;
}


.switch {
    position: relative;
    display: inline-block;
    width: 48px;
    height: 24px;
}

.switch input {
    display: none;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #c5d3e0;
    border-radius: 24px;
    transition: 0.3s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 18px;
    width: 18px;
    left: 3px;
    bottom: 3px;
    background-color: white;
    border-radius: 50%;
    transition: 0.3s;
}

input:checked + .slider {
    background-color: #78e6bd;
}

input:checked + .slider:before {
    transform: translateX(24px);
}

.botones-acciones-acceso {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 25px;
}

.botones-acciones-acceso a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 140px;
    height: 40px;
}

.botones {
    background: white;
    color: black;
    font-size: 14px;
    font-weight: bold;
    border: 2px solid black;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s;
    text-decoration: none;
}

.botones:hover {
    background: black;
    color: white;
}

@media (max-width: 768px) {
    .access-container,
    .botones-acciones-acceso {
        width: 90%;
    }

    .info-user-access {
        flex-direction: column;
        gap: 10px;
    }

    .campo {
        flex: 1 1 100%;
    }

    .botones-acciones-acceso {
        flex-direction: column;
        gap: 10px;
    }

    .cta-button {
        width: 100%;
    }
}



.access-container .botones-acciones-acceso {
    margin-top: 30px;
}
