.registro {
    width: 100%;
    max-width: 1600px;
    margin: 30px auto;
    background: rgba(255, 255, 255, 0.9);
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 0 18px rgba(0,0,0,0.15);
    font-family: Arial, sans-serif;
    position: relative;
}

.registro h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
    font-weight: bold;
}

.encabezado-registro,
.fila-registro {
    display: grid;
    grid-template-columns:
        0.8fr   
        1.5fr   
        0.8fr   
        1fr     
        1fr     
        1.5fr   
        1fr     
        0.8fr   
        0.8fr   
        0.8fr   
        1fr     
        0.8fr   
        0.8fr   
        1.2fr   
        1.5fr;  

    width: 100%;
    align-items: center;
    text-align: center;
    gap: 5px;
}

.encabezado-registro {
    background: #c5d3e0;
    padding: 10px;
    border-radius: 8px;
    font-weight: bold;
    font-size: 0.75em;
}

.fila-registro {
    padding: 8px;
    border-bottom: 1px solid #ccc;
    font-size: 0.75em;
}

.fila-registro:hover {
    background: #f1f7ff;
}

.fila-registro:nth-child(even) {
    background: rgba(0,0,0,0.03);
}

.fila-registro span {
    word-break: break-word;
}

.btn-editar {
    min-width: 140px;
    height: 45px;
    padding: 5px;
    font-size: 1em;
    border-radius: 10px;
    font-weight: bold;
    cursor: pointer;
    text-decoration: none;
    border: 2px solid #333;
    background: #fff;
    color: #333;
    font-size: 1em;
}

.btn-editar:hover {
    background: #333;
    color: #fff;
}

.paginacion {
    display: flex;
    justify-content: center;
    margin-top: 15px;
}

.paginacion .numero {
    background: #0e0e0e;
    color: #fff;
    padding: 6px 10px;
    border-radius: 6px;
    font-size: 0.8em;
}

.btn-volver-flecha {
    text-decoration: none;
    background-color: #c5d3e0;
    border: 2px solid #c5d3e0;
    color: #0c0c0c;
    font-weight: bold;
    border-radius: 10px;
    display: inline-block;
    width: 40px;
    height: 36px;
    text-align: center;
    line-height: 32px;
    margin-bottom: 10px;
}

.btn-volver-flecha:hover {
    background-color: #7fb1fb;
    border-color: #88b7fd;
    color: white;
}